* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.num {
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
}
.num1 {
  padding: 10px;
}
#foh {
  padding: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
@media (max-width: 700px) {
  .num {
    position: relative;
    width: -webkit-fill-available;
    display: contents;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
  }
  .num1 {
    padding: 10px;
  }
  #foh {
    padding: 40px;
    padding-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
}

.div {
  margin-top: 60px;
  display: flex;
  text-align: center;
  padding-bottom: 60px;
}

.div2 {
  background-color: rgb(55, 209, 16);
  padding-left: 60px;
  padding-right: 60px;
}
.div2 h1 {
  font-size: 40px;
  font-weight: 600;
}
.div2 p {
  padding-top: 40px;
  font-size: 30px;
  font-weight: -6;
}

#r {
  margin-left: 10px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}
#l {
  margin-right: 10px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}
@media (max-width: 700px) {
  .div1 {
    display: none;
  }
  .div {
    padding-bottom: 20px;
  }
  .div2 {
    background-color: rgb(55, 209, 16);
    padding-left: 10px;
    padding-right: 10px;
  }
  .div2 h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .div2 p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 10;
    padding-bottom: 10px;
  }
  #r {
    margin-left: 20px;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
  }
  #l {
    margin-right: 20px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }
}
